<ion-view id="main">
    <ion-side-menus>
        <ion-side-menu-content>
        <!-- Main View -->
            <ion-nav-bar class="bar-positive"
                align-title="center"
                no-tap-scroll="true"
                delegate-handle="main"
            >
                <ion-nav-back-button class="button button-icon icon ion-android-arrow-back">
                </ion-nav-back-button>
            </ion-nav-bar>

            <ion-nav-view name="main">
            </ion-nav-view>

        </ion-side-menu-content>
        
        <!-- Side Menu -->
        <ion-side-menu side="left" class="side-menu-container">
            <ion-content class="side-menu-content">
                <ion-list>

                    <!-- Side Menu Header -->
                    <ion-item class="row side-menu-header flex">
                        <div class="col-30">
                            <img class="picture" alt="그림이 없습니다."
                                ng-src="{{Main.user.picture}}" 
                            >
                        </div>
                        <div class="col-70">
                            <span class="username">
                                {{ Main.user.name }} 님
                            </span>
                        </div>
                    </ion-item>

                    <!-- Side Menu list -->
                    <ion-item class="row flex-v menu-list-row"
                        ng-repeat="item in Main.sideMenuLists"
                        choose
                        ng-click="Main.menuSelectHandler(item.state)"
                    >
                        <div class="col-90 menu-list-text">
                            {{ item.text }}
                        </div>
                        <div class="col-10">
                            <i class="ion-ios-arrow-right"></i>
                        </div>
                    </ion-item>
                </ion-list>
            </ion-content>

            <ion-footer-bar class="side-menu-footer flex" touch>
                <i class="side-menu-footer-icon"></i>
            </ion-footer-bar>

        </ion-side-menu>
    
    </ion-side-menus>



</ion-view>